<table>
  <thead>
    <tr>
      <th>Time</th>
      <% @technicians.each do |technician| %>
        <th><%= technician.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (6..18).each do |hour| %>
      <tr>
        <td><%= "#{hour}:00" %></td>
        <% @technicians.each do |technician| %>
          <td data-technician-id="<%= technician.id %>" data-hour="<%= hour %>">
            <% @work_orders.each do |wo| %>
              <% if wo.technician_id == technician.id && wo.time.hour == hour %>
                <div>
                  <p><%= wo.location.name %>, <%= wo.location.city %></p>
                  <p>Start: <%= wo.time.strftime('%H:%M') %></p>
                  <p>Price: <%= wo.price %></p>
                  <p>Duration: <%= wo.duration%> mins.</p>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
